MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER/shop-game
NODE_ENV=production
APP_PORT=3001

REDIS_URL=redis://redis:6379
FRONTEND_URL=https://your-frontend-domain.com

JWT_ACCESS_SECRET=generate-with-openssl-rand-hex-64
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=generate-another-secret
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=shop-game

EMAIL_SYSTEM=
EMAIL_PASS=
