MONGODB_URI=mongodb://localhost:27017/shop-game-demo?replicaSet=rs0
NODE_ENV=development
APP_HOST=localhost
APP_PORT=3001

JWT_ACCESS_SECRET=replace-with-a-random-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace-with-another-random-secret
JWT_REFRESH_EXPIRES_IN=7d


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=
